.keyboard {
    height: 200px;
    min-height: 200px;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 8px;
}

.key {
    height: 58px;
    background-color: #818384;
    border-radius: 4px;
    margin: 0px 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    flex: 1;
}

.key:hover {
    cursor: pointer;
}

.keyboard-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 3px 0px;
    width: 100%;
}

.keyboard:hover {
    cursor: pointer;
}

.wide {
    flex: 1.5;
}

.half {
    flex: .5;
    background-color: black;
}

.back {
    font-size: 25px;
}