.keyboard {
    height: 200px;
    width: 100vw;
    min-height: 200px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.keyboard-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 3px 0px;
    width: 80%
}

.key {
    height: 58px;
    /* width: 43px; */
    background-color: #818384;
    border-radius: 4px;
    margin: 0px 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    flex: 1;
}

.wide {
    /* width: 65px */
}